name: docker

on: [push, pull_request]

jobs:
  build:
    name: Build
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v3.1.0

      - name: Build and push Docker images
        uses: docker/build-push-action@v2.5.0
        with:
          username: zu1k
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: docker.pkg.github.com
          repository: zu1k/proxypool/proxypool
          tag_with_ref: true
